body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.image{
    padding: 20px;
    height: 50px;
    border: solid;
    border-color: white;
    border-radius: 50px;
    background-color: transparent;
}
.button-css{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button-home{
    height: 30px;
    cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> cbdb73240d0d501e29abf4a5ba459562b3cf21e1
